In [ ]:
# My very first line of code
print("Hello World")

Hello World

In [2]:
# This is a variable
x=10
print(x)

10

Chapter 2: Python Basics
Comments and basic data types

In [1]:
# Comments & Basic Data Types
# this is a comment
print("Hello") # this is also a comment
"""
This is a multi-line comment
"""
print("Hello") # this is also a comment

Hello
Hello

In [2]:
# the following are all integers
print(2)
print(10)

2
10

In [3]:
# the following are all floats
print(10.953)
print(8.0)

10.953
8.0

In [4]:
# the following are booleans
print(True)
print(False)

True
False

In [5]:
# the following are strings
print("")
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

In [13]:
# Monday exercise
print("Nadine")
type(int) # will output <class 'int'>

Nadine

type

Variables

In [6]:
num1 = 5 # storing an integer into a variable
num2 = 8.4 # storing a float into a variable
print(num1, num2) # you can print multiple items using commas

5 8.4

In [7]:
# storing a boolean into a variable
switch = True
print(switch)

True

In [8]:
# storing strings into a variable
name = 'John Smith'
fav_number = '9'
print(name, fav_number) # will print 9 next to the name

John Smith 9

In [9]:
# using two variables to create another variable
result = num1 + num2
print(result)

13.4

In [10]:
# adding, deleting, multiplying, dividing from a variable
result += 1 #same as saying result = result + 1
print(result)
result *= num1 #same as saying result = result * num1
print(result)

14.4
72.0

In [11]:
# defining a variable and overwriting its value
name = 'John'
print(name)
name = 'Sam'
print(name)

John
Sam

In [ ]:
# Tuesday exercise 1
x = 3
y = 10
result = x * y
print(result)
print(x,'+',y,'=',x + y)

30
3 + 10 = 13

In [18]:
# Tuesday exercise 2
width = 245.54
height = 13.66
area = width * height
print(area)

3354.0764

Working with strings

In [20]:
# using the addtion operator without variables
name = "John" + " " + "Smith"
print(name)

John Smith

In [21]:
# using the addition operator with variables
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

In [24]:
# injecting variables using the format method
name = "John"
print("Hello {}".format(name))
print("Hello {}, you are {} years old!".format(name,28))

Hello John
Hello John, you are 28 years old!

In [25]:
# using the new f strings
name = "John"
print(f"Hello {name}")

Hello John

In [27]:
# one major difference between versions 2 & 3
name = 'John'
print('Hello %s' % name)

Hello John

In [28]:
# using indexes to print each element
word = "Hello"
print(word[0]) # will output 'H'
print(word[1]) # will output 'e'
print(word[-1]) # will output 'o'

H
e
o

In [30]:
# string slicing
print(word[0:2]) # will output 'He' 
print(word[0:5:2]) # will out put 'Hlo'

He
Hlo

In [42]:
#Wednesday exercise 1
exercise_1 = "23" + " " + "4.5" + " " + "False" + " " + "John"
print(exercise_1)

23 4.5 False John

In [43]:
# Wednesday exercise 1
number = 23
decimal = 4.5
boolean = False
string = "John"
full_sentence = str(number)+ " " + str(decimal) + " " + str(boolean) + " " + string
print(full_sentence)

23 4.5 False John

In [36]:
# Wednesday exercise 2
name = "Yoongi"
sport = "basketball"
activity = "computer"
print(f"{name}'s favorite sports is {sport}.")
print(f"{name} is working on {activity} programming!")

Yoongi's favorite sports is basketball.
Yoongi is working on computer programming!

String manipulation

In [46]:
# using the title method to capitalize a string
name = "john smith"
print(name.title())
print(name.lower())
print(name.upper())

John Smith
john smith
JOHN SMITH

In [47]:
# replacing an exclamation point with a period
words = "Hello there!"
print(words.replace("!","."))

Hello there.

In [48]:
# finding the starting index of our searched term
s = "Look over that way"
print(s.find("over"))

5

In [50]:
# removing white space with strip
name = " john "
print(name.strip())
print(name.lstrip())
print(name.rstrip())

john
john
 john

In [52]:
# converting a string into a list of words
s = "These words are separated by spaces"
print(s.split(" "))

['These', 'words', 'are', 'separated', 'by', 'spaces']

In [58]:
# Thursday exercise 1
print("uppercase".upper())
# Thursday exercise 2
name = "$$John Smith"
print(name.lstrip("$$"))
print(name.strip("$$"))

UPPERCASE
John Smith
John Smith

Friday Project: Printing Receipts

In [74]:
# create a product and price for three items
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89
# create a company name and information
company_name = "coding temple, inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"
#declare ending message
message = "Thanks for shopping with us today!"
#create a top border
print("*"*50)
# print company information first, using format
print("\t\t{}".format(company_name.title()))
print("\t\t{}".format(company_address))
print("\t\t{}".format(company_city))
# print a line between sections
print("="*50)
# print out header for section of items
print("\tProduct Name\tProduct Price")
# create a print statement for each product
print("\t{}\t\t${}".format(p1_name.title(), p1_price))
print("\t{}\t${}".format(p2_name.title(), p2_price))
print("\t{}\t\t${}".format(p3_name.title(), p3_price))
# print a line between sections
print('='*50)
# print out header for section of total
print("\t\t\tTotal")
# calculate total price and print out
total = p1_price + p2_price + p3_price
print("\t\t\t${}".format(total))
# print a line between sections
print("="*50)
# output thank you message
print("\n\t{}\n".format(message))
# create a bottom border
print("*"*50)

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today!

**************************************************

In [104]:
# Weekly Challenges
test = "Hello" [::-1]
print(test)
print("*"*49)
test_2 = "Hello"
print("*\t\t\t{}\t\t\t*\n".format(test_2)*17)
print("*"*49)

olleH
*************************************************
*			Hello			*
*			Hello			*
*			Hello			*
*			Hello			*
*			Hello			*
*			Hello			*
*			Hello			*
*			Hello			*
*			Hello			*
*			Hello			*
*			Hello			*
*			Hello			*
*			Hello			*
*			Hello			*
*			Hello			*
*			Hello			*
*			Hello			*

*************************************************